@import '~office-ui-fabric-react/dist/sass/References.scss';

.choiceFilter {
  .propAndButtonBox {
    display: flex;
    .mainBox {
      flex-grow: 1;
    }
    .buttonBox {
      width: inherit;
      align-self: flex-end;
    }
  }
}
